/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de base */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    /* Ajout de cette ligne */
}

.wrapper {
    display: flex;
    /* Ajout de cette ligne */
    flex-direction: column;
    /* Ajout de cette ligne */
    min-height: 100vh;
    /* Ajout de cette ligne */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
    flex-grow: 1;
    /* Ajout de cette ligne */
}

.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.features ul {
    list-style-type: none;
}

.features ul li {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}