<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport de Stage Blog</title>
    <link rel="stylesheet" href="../Style/index.css">
</head>

<body>
    <header>
        <h1>Bienvenue sur mon Blog de Stage !</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="#a-propos-de-moi">À propos de moi</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="accueil">
            <h2>Accueil</h2>
            <p>Bienvenue sur mon blog de stage ! Ici, je partage mon expérience, les projets sur lesquels j'ai travaillé
                et les compétences que j'ai acquises tout au long de mon stage. J'espère que vous trouverez ces
                informations intéressantes et utiles.</p>
        </section>

        <section id="articles-du-blog">
            <h2>Articles du Blog</h2>
            <ul>
                <li><a href="week1.html">Semaine 1 : Introduction et Documentation</a></li>
                <li><a href="week2.html">Semaine 2 : Projet A et Premiers Défis</a></li>
                <li><a href="week3.html">Semaine 3 : Projet B et Travail d'Équipe</a></li>
                <li><a href="week4.htmlatt">Semaine 4 : Milieu du Stage et Nouvelles Compétences</a></li>
                <li><a href="week5.html">Semaine 5 : Projet Final et Réalisations</a></li>
                <li><a href="week6.html">Semaine 6 : Conclusion et Réflexions</a></li>
            </ul>
        </section>

        <section id="a-propos-de-moi">
            <h2>À propos de moi</h2>
            <p>Je m'appelle Reungoat Nathan et je suis étudiant en Informatique à Ynov Campus.
                Passionné par les arts martiaux et l'informatique , j'ai eu l'opportunité de réaliser un stage chez
                Nexteam de 6 semaines pour mettre en pratique mes compétences et en acquérir de nouvelles.
            </p>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>Si vous avez des questions ou souhaitez en savoir plus sur mon expérience de stage, n'hésitez pas à me
                contacter :</p>
            <ul>
                <li><strong>Email</strong> : reungoat.nathan@gmail.com</li>
                <li><strong>LinkedIn</strong> : <a href="https://www.linkedin.com/in/nathan-reungoat/">Nathan
                        Reungoat</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Merci de votre visite et bonne lecture !</p>
    </footer>
</body>

</html>