<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendu de Stage</title>
    <link rel="stylesheet" href="../Style/mainpage.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="MainPage.html">Accueil</a></li>
                    <li><a href="StudentInfo.html">L'étudiant</a></li>
                    <li><a href="Nexteam.html">L'entreprise</a></li>
                    <li><a href="Internship.html">Le stage</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="hero">
                <h1>Bienvenue sur mon rapport de stage de Juillet à Aout 2024</h1>
                <p>Je vais vous présenter tout ce que j'ai vu durant ses 6 semaines chez Nexteam</p>
                <a href="View\Internship.html" class="btn">Rapport du stage</a>
            </section>

            <section class="features">
                <h2>Organisation du rendu</h2>
                <ul>
                    <li>Présentation personnelle en suivant mon parcours et mes expériences passées et à venir</li>
                    <li>Puis présentation de l'entreprise Nexteam</li>
                    <li>Puis Explication détaillé du stage découpé en semaines</li>
                </ul>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 Rendu de Stage. Tous droits réservés.</p>
        </footer>
    </div>

    <script src="script.js"></script>
</body>

</html>