<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semaine 5 : Dernière Mission</title>
    <link rel="stylesheet" href="../Style/index.css">
</head>

<body>
    <header>
        <h1>Rapport de Stage - Semaine 5</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="Nexteam.html">Nexteam</a></li>
                <li><a href="week1.html">Semaine 1</a></li>
                <li><a href="week2.html">Semaine 2</a></li>
                <li><a href="week3.html">Semaine 3</a></li>
                <li><a href="week4.html">Semaine 4</a></li>
                <li><a href="week5.html">Semaine 5</a></li>
                <li><a href="week6.html">Semaine 6</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Dernière Mission</h2>
            <h3>Du Tout au Tout</h3>
            <p>Avec le projet "Accueil App" désormais totalement terminé, mon maître de stage et moi avons fait un
                débriefing. Il m’a alors parlé d'un autre projet qui aurait déjà dû être finalisé. N'ayant pas eu le
                temps de s'en occuper, il a décidé de me confier cette nouvelle mission.</p>

            <img src="../Style/img/PRODPLUS Main page.png" alt="Maquette initiale du projet Machining">

            <p>Cependant, cette fois-ci, nous n’allons pas travailler de la même manière que sur le projet précédent.
                Pour ce nouveau défi, nous ne serons plus dans une relation stagiaire-maître de stage, mais plutôt comme
                des collègues. Nous allons organiser les tâches ensemble, discuter de ce qui doit être fait et comment,
                de manière collaborative.</p>

            <p>Mon maître de stage m'a présenté le projet ainsi : "Il y a deux ans, j'ai réalisé une maquette pour le
                service Machining afin qu'ils évaluent s'ils auraient besoin, à terme, d'une telle application. Il
                semblerait qu'ils souhaitent maintenant des fonctionnalités supplémentaires. Ils m'ont envoyé une
                nouvelle maquette avec les ajouts qu'ils désireraient."</p>

            <img src="../Style/img/PRODPLUS fonctionnalities.png" alt="Nouvelles fonctionnalités demandées">

            <p>Nous avons donc examiné la maquette ensemble, essayant de comprendre leurs véritables besoins pour leur
                apporter des améliorations qui répondent réellement à leurs attentes. Car bien souvent, même lorsqu'une
                maquette est fournie, cela ne reflète pas toujours exactement ce que les utilisateurs attendent.</p>

            <p>Gustavo a décidé que je serais chargé d'identifier les différentes tâches à accomplir sur ce projet, afin
                que nous puissions ensuite les attribuer et assurer un suivi fiable. Ne venant pas du domaine du
                machining, il m'a été difficile de saisir toutes les attentes liées à l'application. En cherchant à
                obtenir des éclaircissements auprès des personnes concernées, j'ai découvert que seuls deux individus,
                en dehors des développeurs, connaissaient l'existence de cette maquette, et que le principal
                interlocuteur était en vacances.</p>

            <img src="../Style/img/PRODPLUS Cards.png" alt="Diagramme des tâches identifiées">

            <p>Compte tenu du temps imparti et du manque d'informations disponibles, nous avons décidé de nous
                concentrer sur les deux premières fonctionnalités demandées. De cette manière, nous pourrons nous
                concentrer sur les aspects les plus critiques sans subir trop de pression.</p>
        </section>

    </main>

    <footer>
        <p>Retour à <a href="index.html">l'accueil</a></p>
    </footer>
</body>

</html>