<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semaine 1 : Introduction et Intégration</title>
    <link rel="stylesheet" href="../Style/index.css">
</head>

<body>
    <header>
        <h1>Rapport de Stage - Semaine 2</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="week1.html">Semaine 1</a></li>
                <li><a href="week2.html">Semaine 2</a></li>
                <li><a href="week3.html">Semaine 3</a></li>
                <li><a href="week4.html">Semaine 4</a></li>
                <li><a href="week5.html">Semaine 5</a></li>
                <li><a href="week6.html">Semaine 6</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Démarrage et Mise en place</h2>
            <h3>Le Début des Défis</h3>
            <p>Durant cette seconde semaine, j'ai commencé le projet en me concentrant d'abord sur l'apparence,
                c'est-à-dire le front-end, en travaillant principalement sur la partie "Check-in" pour l'arrivée des
                visiteurs.
            </p>

            <p>
                Ensuite, j'ai dû m'intéresser à la partie serveur. Ici, nous utilisons Django, ce qui m'a confronté à
                mes premiers défis. Bien que je possède des connaissances en Python, Django est une technologie que je
                n'avais jamais utilisée auparavant. J'ai donc dû me former en parallèle de mon travail.
            </p>

            <p>J'ai découvert que Django est un framework qui permet de créer des applications web en Python, basé sur
                le modèle MVC (Modèle Vue Contrôleur). Il impose une certaine infrastructure à respecter pour que le
                projet fonctionne correctement. Cependant, je me suis rendu compte tardivement que Django permet de
                générer les fichiers de base pour le projet. J'ai donc dû recommencer mon travail en suivant les
                instructions de Django.</p>

            <p>
                Suite à cela, j'ai rencontré divers problèmes plus ou moins importants qui ont ralenti mon travail, mais
                j'ai réussi à les résoudre.
            </p>


            <p>En fin de semaine, toute l'apparence et le serveur étaient prêts, que ce soit pour le check-in ou le
                check-out. J'étais donc prêt à les connecter à la base de données pour intégrer toutes les informations
                nécessaires au bon fonctionnement de l'application.
            </p>

            <p>
                Malheureusement, je suis tombé malade en fin de semaine. Pour me permettre de travailler à distance, il
                me fallait le VPN de l'entreprise. Cependant, malgré tous les efforts du support IT, je n'ai pas pu me
                connecter.
            </p>

            <p>
                Vendredi, j'ai donc revu le travail que j'avais accompli et préparé la semaine suivante.
            </p>
            <img src="images/semaine1.jpg" alt="Image de l'équipe SAP'">
        </section>
    </main>

    <footer>
        <p>Retour à <a href="index.html">l'accueil</a></p>
    </footer>
</body>

</html>