<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semaine 1 : Introduction et Intégration</title>
    <link rel="stylesheet" href="../Style/index.css">
</head>

<body>
    <header>
        <h1>Rapport de Stage - Semaine 1</h1>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="Nexteam.html">Nexteam</a></li>
                <li><a href="week1.html">Semaine 1</a></li>
                <li><a href="week2.html">Semaine 2</a></li>
                <li><a href="week3.html">Semaine 3</a></li>
                <li><a href="week4.html">Semaine 4</a></li>
                <li><a href="week5.html">Semaine 5</a></li>
                <li><a href="week6.html">Semaine 6</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Introduction</h2>
            <h3>L'apprentissage</h3>
            <p>Durant la première semaine, j'ai fait connaissance avec l'équipe sur place, principalement composée de
                membres du "SAP", un service de support informatique. Mon maître de stage, Gustavo Buldini, étant basé
                au Portugal, nous avons convenu d'organiser des réunions tous les deux jours pour faire le point et pour
                que je puisse le solliciter en cas de besoin.</p>

            <img src="../Style/img/TeamSAP.jpg" alt="Photo de l'équipe SAP" />

            <p>Il m'a proposé deux projets sur lesquels travailler. Le premier consistait à créer un script pour
                dupliquer tous les scripts qu'ils enverraient sur une machine virtuelle. Le second projet impliquait de
                refaire leur application de gestion des entrées et sorties des visiteurs dans un autre langage de
                programmation. Nous avons décidé de commencer par la seconde option afin que je puisse me familiariser
                dès le début avec les technologies utilisées dans l'entreprise.</p>

            <img src="../Style/img/Accueil-welcome-page.png" alt="Capture d'écran de l'application actuelle" />

            <p>Cette semaine, j'ai donc principalement étudié le fonctionnement de la technologie en question et mis sur
                papier la théorie nécessaire pour pouvoir débuter le projet sans ambiguïté.</p>

            <img src="../Style/img/Workspace.jpg" alt="Photo de l'espace de travail" />
        </section>
    </main>

    <footer>
        <p>Retour à <a href="index.html">l'accueil</a></p>
    </footer>
</body>

</html>